.fab 
	border-radius 50%
	bottom 28px
	display flex
	box-shadow 0 6px 10px 0 rgba(0,0,0,0.14),
 						 0 1px 18px 0 rgba(0,0,0,0.12),
 						 0 3px 5px -1px rgba(0,0,0,0.2)
	align-items center
	height 56px
	justify-content center
	opacity 1
	position fixed
	right 16px
	transition transform .3s
	width 56px
	z-index 1
	
	@media screen and (min-width: 720px)
		bottom 16px